{% extends 'base.html.twig' %}

{% block title %}Hello ContactUsController!{% endblock %}

{% block body %}

<ul>
<li>Author Name : {{message.authorName}}</li>
<li>Subject : {{message.subject}}</li>
<li>Message : {{message.message}}</li>
</ul>

{% endblock %}
