{% extends 'base.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}
    <h4>Hotel name : {{ hotel.name }}</h4>
    <p>Address: {{ hotel.address }}</p>
    <p>Rate : {{ hotel.rate }}</p>
{% endblock %}
