body {
    background-color: gainsboro !important;
}

.form-group{
    margin-top: 50px;
    padding: 20px;
}
.form-row{
    margin-top: 10px;
}

.search-form{
    position:absolute; right:80px; top:20px
}